@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #002f4b, rgba(43, 47, 119, 0));
    padding: 20px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #2e373f;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.container {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.apresentacao {
    text-align: center;
}

.apresentacao h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.apresentacao1 p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin: 20px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 47, 75, 0.9);
        width: 100%;
        text-align: right;
    }

    header nav a {
        padding: 10px 20px;
        font-size: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .hamburger {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .container {
        padding: 80px 10px;
    }

    .apresentacao h1 {
        font-size: 30px;
    }

    .apresentacao1 p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .apresentacao h1 {
        font-size: 24px;
    }

    .apresentacao1 p {
        font-size: 14px;
    }
}
